<ul class="example title list">
    
        {{#each this}} 
            <li class="upper">
                <img class="flag" src="{{flags.svg}}" alt="{{name.official}}"  height="16">
                <p class="data">{{name.official}}</p>
            </li>
        {{/each}}
   
</ul>