<ul class="example title list">
    <li class="upper">
        {{#each country}} 
            <img src="{{flags.svg}}" alt="{{name.official}}" width="16">
            <p class="data">{{name.official}}</p>
        {{/each}}
    </li>
</ul>